<div class="modal fade" tabindex="-1" role="dialog" <% if(page!="notes"){ %> id="newTaskModal" <% } else{ %> id="newNoteModal" <% } %> aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="content">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="exampleModalCenterTitle">
                    <% if(page!="notes"){ %> 
                        New Task
                    <% } else{ %> 
                        New Note 
                    <% } %> 
                </h3>
                <button type="button" class="close" data-dismiss="modal" >&times;</button>
            </div>
            <div class="modal-body">
                <% if(page!="notes"){ %> 
                    <form id="addTaskForm" action="/addtask" name="addform">
                        <div class="form-row  mt-3 ">
                            <input type="text" class="form-control col-12 col-md-6" id="tasktitle" name="tasktitle" placeholder="Task">
                        </div>  
                        <div id="task_title_error"></div>
                        <div class="form-row mt-3">
                            <input type="date" id="taskdate" name="taskdate" placeholder="Date" class="form-control col-12 col-md-5" required>
                            <select class="form-control col-12 col-md-5 offset-md-1 mt-3 mt-md-0" id="important" name="important" required>
                                <option>Normal</option>
                                <option>important</option>
                              </select>
                        </div>       
                        <div class="form-row mt-3 center">
                            <button type="button" class="btn btn-secondary btn-sm " data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-warning btn-sm ml-1">ADD</button>        
                        </div>                  
                    </form>
                <% } else{ %> 
                    <form id="addNotesForm" action="/addnote" name="noteForm">
                        <div class="form-row  mt-3 ">
                            <input type="text" class="form-control col-12 col-md-6" id="notetitle"  name="notetitle" placeholder="Title">
                        </div>  
                        <div id="note_title_error"></div>
                        <div class="form-row mt-3">
                            <textarea class="form-control col-12" id="notetext" name="notetext" placeholder="Text" rows="4"></textarea>
                        </div>
                        <div id="note_text_error"></div>       
                        <div class="form-row mt-3 center">
                            <button type="button" class="btn btn-secondary btn-sm " data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-warning btn-sm ml-1">ADD</button>        
                        </div>                  
                    </form>
                <% } %>               
            </div>
        </div>
    </div>
</div>