<div class=" card alert alert-danger row alert-dismissible fade show " role="alert">
    Going past the deadline!!! Hurry up..... Complete the Task. 
    <a class="close"><img src="./img/del.png" width="30px" height="30px"> </a>
</div>