<nav class="navbar navbar-dark navbar-expand-sm fixed-top" >
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
           <img src="img/menu.png" width="30px" height="30px">
        </button>
        <a class="navbar-brand mr-auto " href="#"><img src="img/notes.png" width="41" height="41"> </a>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav mr-auto">
                <% if(page=="home"){ %>
                <li class="nav-item active"> <a class="nav-link" href="#"><span class="fa fa-home"></span> Home</a></li>
                <li class="nav-item "> <a class="nav-link" href="/today"><span class="fa fa-calendar "></span> Today</a></li>
                <li class="nav-item "> <a class="nav-link" href="/notes"><span class="fa fa-edit "></span> Notes</a></li>
                <% if(userobj!="null") { %>
                    <li id="logoutButton" class="nav-item active"> <a class="nav-link" ><span class="fa fa-logout"></span> Logout</a></li>
                <% } else { %>
                    <li></li>
                <% } %>
                <% } else if(page=="today") {%>
                <li class="nav-item "> <a class="nav-link" href="/"><span class="fa fa-home"></span> Home</a></li>
                <li class="nav-item active"> <a class="nav-link" href="#"><span class="fa fa-calendar "></span> Today</a></li>
                <li class="nav-item "> <a class="nav-link" href="/notes"><span class="fa fa-edit "></span> Notes</a></li>
                <% if(userobj!="null") { %>
                    <li id="logoutButton" class="nav-item active"> <a class="nav-link" ><span class="fa fa-logout"></span> Logout</a></li>
                <% } else { %>
                    <li></li>
                <% } %>
                <% } else if(page=="notes") {%>
                <li class="nav-item "> <a class="nav-link" href="/"><span class="fa fa-home"></span> Home</a></li>
                <li class="nav-item "> <a class="nav-link" href="/today"><span class="fa fa-calendar "></span> Today</a></li>
                <li class="nav-item active"> <a class="nav-link" href="#"><span class="fa fa-edit "></span> Notes</a></li>
                <% if(userobj!="null") { %>
                    <li id="logoutButton" class="nav-item active"> <a class="nav-link"><span class="fa fa-logout"></span> Logout</a></li>
                <% } else { %>
                    <li></li>
                <% } %>
                <% } %>
            </ul>
            
        </div>
        <% if(userobj!="null") { %>
            <span class="navbar-text">
                <h4 ><%= userobj.username%> </h4>
            </span>
        <%} else {%>
        <span class="navbar-text">
            <a id="LoginButton" class="btn btn-warning btn-sm"> Login</a>
        </span>
        <% } %>
    </div>
</nav>
<header class="jumbotron">
    <div class="container">
        <div class="row row-header align-items-center">
            <div class="d-none d-sm-block col-sm-2 col-md-1">
                <img src="img/notes.png" width="80px" height="80px">
            </div>
            <div class="col-12 col-sm-2">
                <h1 id="title">TO DO</h1>
            </div>
            <div class="d-none d-md-block col-md-8 pl-md-5 pl-lg-2 col-lg-7">
                <blockquote class="blockquote">
                    <footer class="blockquote-footer caption">
                        Each day I will accomplish one thing on my to do list
                    </footer>
                </blockquote>
            </div>
            <div class="col-12 col-lg-2 ">
                <button class="btn add" type="button" <%if(page!="notes"){ %>id="newTask" <% } else{ %> id="newNote" <% } %>>
                    <img  src="img/add.png" width="100px" height="100px">
                </button>
            </div>
        </div>
    </div>
</header>
<%- include('./logoutModal.ejs') %>